*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    background-color: hsl(10, 96%, 68%) ;
    height: 50vh;
}

.projects{
    background-color:white ;
    display: grid;
    padding: 1rem;
    gap: 1rem;
    text-decoration: none;
    

}
.projects h2{
    font: size 1.2rem;
    font-weight: 300;
    text-align: center;
    color: royalblue;


}

.projects-lists{ 
    list-style: none;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr)) ;
    gap: 1rem;
   
 }

.project-item{
    border: 1px solid black;
    display: grid;
    padding: 1rem;
    gap: 0.5rem;
}

.projects h3{
    color:#fc7a60 ;

}

h2:hover{
    color: rgb(0, 0, 0);
    transition: 1s;
}

h3:hover{
    color: blue;
}

.project-item a {
    background-color:#fc7a60 ;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    padding: 0.5 rem;
    color: white;
}


a:hover {
 color: rgb(226, 43, 43);
 background-color: blue;
}
 
a:visited{
    background-color:chartreuse;
}


